
.container {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.name{
    padding-bottom:10px;
}
.title_bg{
    background:#ed8019;
    color:#fff;
}
.brand{
    color:#9f2421;
}
.brand a {
    color:#9f2421!important;
}

.contactForm .form-group .help-block.with-errors ul {
  color: red;
  margin-bottom: 0;
  margin-top: 10px;
}

.contactForm #msgSubmit {
  margin: 0;
  font-size: 1.3rem;
}

.contactForm #msgSubmit.text-danger, #contactForm #msgSubmit.text-success {
  margin-top: 15px;
}
